    @media(max-width:600px){

    }
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    text-decoration:none;
    list-style:none;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background:lightblue;
    backdrop-filter: blur(10px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.logo{
    font-size:25px;
    color:white;
    font-weight:600;
    transition:0.3s ease;
}
.logo:hover{
    color:blue;
    text-shadow:0 0 25px white;
    transform:scale(1.1);

}
span{
    color:blue;

}
.navbar a{
    font-size:18px;
    color:white;
    font-weight:500;
    margin:0 20px;
    border-bottom:3px solid transparent;
    transition:0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color:blue;
    border-bottom:3px solid black;
}
.contact{
    padding:10px 28px;
    background-color:white;
    color:black;
    border:2px solid transparent;
    border-radius:8px;
    font-size:16px;
    letter-spacing:1px;
    font-weight:600;
    transition:0.3s ease;
}
.contact:hover{
    background-color:blue;
    box-shadow:0 0 25px blue;
    color:white;
}
#home{
    width:100;
    min-height:600px;
    background:rgb(241,241,241);
    display:flex;
    align-items:center;
    gap:7em;
    padding:30px 125 0;
}
.home-content{
    max-width:800px;
    margin-top:40px;
}
.home-content h3{
    text-align:left;
    margin-left:80px;
    font-size:30px;
    margin-top:80px;
    font-weight:500;
    margin-top:100px;
}
.home-content h1{
    text-align:left;
    margin-left:80px;
    font-size:30px;
    margin-top:30px;
    font-weight:500;
}
.home-content p{
    font-size:10px;
    margin:25px 0 30px;
    margin-left:80px;
}

.btn-box{
    width:300px;
    display:flex;
    gap:2em;
}
.btn-1{
    padding:15px 25px;
    background-color:blue;
    color:white;
    border:2px solid black;
    border-radius:8px;
    font-size:12px;
    letter-spacing:1px;
    font-weight:600;
    transition:0.3s ease;
    cursor:pointer;
    margin-left: 60px;
}
.btn-1:hover{
    background-color:white;
    color:blue;
}
.img-box img{
    border-radius:80%;
    width:350px;
    height:400px;
    margin-top:80px;
}

#about{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:12% 8%;
    gap:10px;
    background-color:black;
}
.about-img img{
    position:relative;
    width:100px;
    box-shadow:0 0 25px blue;
    border-radius:50%;
}
.about-content h2{
    text-align:left;
    color:white;
    font-size:32px;
}
.about-content h3{
    font-size:42px;
    color:white;

}
.about-content p{
    color:white;
    font-size:10px;
    margin:2em;
}
#skill{
    max-width:600px;
    background:rgb(241,241,241);
    margin:60px auto;
    padding:20px;
    text-align:center;

}
.skill-content h3{
    font-size:28px;
    margin-bottom:10px;
}
.skill-content p{
    font-size:14px;
    color:#666;
    margin-bottom:30px;
}
.skill{
    margin-bottom: 25px;
    text-align:center;
}
.skill span{
    display:block;
    font-weight:bold;
    margin-bottom: 5px;
}
.progress-bar{
    background-color:#e0e0e0;
    border-radius:20px;
    overflow:hidden;
    height:15px;
    box-shadow:inset 0 2px 4px rgba(0,0,0.1);
}
.progress{
    background-color:#2196f3;
    height:100%;
    line-height:24px;
    color:#fff;
    text-align:right;
    padding-right: 10px;
    border-radius:20px 0 0 20px;
    font-size:14px;
    font-weight:bold;
}
.work-container{
    margin-top:60px;
    font-size:18px;
    background-color:white;
    color:black;
    padding-bottom:30px;
    margin-left: 300px;
    padding-top:30px;
    justify-content: center;
    text-align:center;
}
.work-container h2{
    text-align:center;
}
.education-container{
    margin-top:60px;
    font-size:38px;
    background-color:lightgray;
    color:black;
    padding-bottom:50px;
    padding-top:30px;
    justify-content:center;
    text-align:center;
}
#contact{
    padding:60px 20px;
    max-width:600px;
    margin: auto;
}
.contact-container{
    font-size:2px;
    text-align:center;
    color:#007BFF;
    border-bottom:2px solid #007BFF;
    display:inline block;
    margin-bottom:30px;
}
.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.contact-form input,
.contact-form textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    width:100%;
    font-size:1rem;
}
.contact-form button{
    background-color:#007BFF;
    color:white;
    padding:12px;
    border:none;
    border-radius:10px;
    font-size:1rem;
    cursor:pointer;
}
.contact-form button:hover{
    background-color:#0056b3;
}
footer{
    text-align:center;
    padding:20px;
    background-color:#000;
    color:white;
}